<!DOCTYPE html>
<html ng-app="agenda">
<head>
    <title>My Calendar APP</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="thectl">
<div class="container">
	<div id="container">
  		<div class="row">
  			<div class="left">
  				<h3>DATE</h3>
  		
  		</div>
  			<div class="right">
    			<h3>EVENT</h3>
    			<p>Have a wonderful day!</p>
  			</div>
		</div>
</div>
  <div class="row2" ng-repeat="item in agendaItems">
  			<div class="left">
  			<p ng-bind="item.date | date:'MM/dd/yyyy'"></p>
  			</div>
  			<div class="right">
    			<p>...</p>
  			</div>
	</div>
</div>
</div>




<!-- <div class="container">
<button class="giant" ng-click="click(true)">Click Here!</button>

<div class="border" ng-show="showPopup">
<p>Hello. This is a message.</p>
<button ng-click="click(false)">Close</button>
</div> -->



</body>
</html>